.titlepage {
    background-image: url("img/titlepage.svg");
    background-color: #ffffff;
    background-position: center;
    background-size: cover; /* or background-size: 100% 100%; */
    border: none;
    padding: 0%;
    height: 100vh;
    background-repeat: no-repeat;
}

.content h1 {
    color: #A62020;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.30);
    font-family: Pattaya;
    font-size: 12vw;
    font-style: normal;
    font-weight: 400;
    line-height: 0.9;
    margin-left: 5%; /* Adjust as needed */
}

.cherry {
    width: 20%; /* Adjust width as needed */
    max-width: 205px;
}

.content {
    width: 85%;
    max-width: 1290px;
    border-radius: 200px;
    background-color: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25) inset;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center; /* Vertical alignment */
    justify-content: center; /* Horizontal alignment */
}

.inner-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sections {
    width: 100%;
    height: 100vh;
    background-color: #A62020;
    display: flex;
    position: relative;
    overflow:scroll;
}

.sc {
    display: flex;
    
}  


.projects, .exercise {
    flex: 1;
    border-radius: 200px;
    background: #FFF;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25) inset; 
    margin: 20px;
    max-width: 583px;
    height: 1000px;
    top: 120px;
    position: relative;
}

.projects-content, .exercise-content {
    text-align: center;
    margin-top: 3vw;
}

.projects-content a, .exercise-content a {
    text-decoration: none;
    font-family: "Pragati Narrow";
    color: #7E1414;
    font-size: clamp(20px,2.5vw,30px);
    margin-left: 10vw;
    margin-right: 10vw;
}


.exercise-content {
    display: flex;
    flex-direction: column; /* Set the direction to column */
  }

  
  .sc h1 {
    font-family: "Pattaya";
    color: #FFF;
    font-size: 7vw;
    font-weight: 400;
    text-shadow: 0px 4px 10px rgba(0, 0, 0, 0.30);
    position: absolute;
    text-align: center;
    left: 40vw;
  }

  